body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f1f1f1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #2d2d2d;
  border: 2px solid #f39c12;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.left-column {
  width: 16.66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  
}

.control-button {
  background-color: #f39c12;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
  border: 2px solid #f39c12;
  border-radius: 10px;
}

.control-button:hover {
  background-color: #e67e22;
  border: 2px solid #f39c12;
  border-radius: 10px;
}

.center-column {
  width: 50%; /* Adjusted width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px ;
  box-sizing: border-box;
  
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2px;
  font-size: 75%;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
}

.connections{
  width:100%;
  height:auto;
  border: 2px solid #f39c12;
  border-radius: 10px;
  padding: 5px;
  align-items: right;
  box-sizing: border-box;
}

.connections-text{
  flex-grow: 1; /* Take up the remaining space */
  height: auto; /* Height is dependent on the content */
  padding: 5px; /* Add padding if needed */
  box-sizing: border-box;
}

#gamepStatus {
  visibility: visible;
  display: block;
  border: 2px solid #f39c12;
  border-radius: 10px;
  box-sizing: border-box;
}



.connections-signal{
  width:auto;
  height:auto;
  padding: 5px;
  font-size: 115%;
  text-align: center;
  box-sizing: border-box;
}

.gauges-leds{
  display: flex;
  width: 100%;
  align-items: flex-start; /* Align items to the start */
  padding: 5px; /* Add padding for internal spacing */

}

.led-container {
  display: flex;
  align-items: center;
  padding: 5px;

}

.led {
  background-color: #333;
  border: 1px solid #444;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Space between LED and label */
  margin-bottom: 2px;
}

.led-label {
  color: #f1f1f1;
  font-size: 14px;
}


.leds{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gauges {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
  padding: 5px;

}

.fuel-gauge {
  background-color: #444;
  border: 1px solid #555;
  height: 40px;  /* Reduced height */
  width: 10px;  /* Reduced width */
  position: relative;
}

.fuel-gauge-fill {
  background-color: #f39c12;
  height: 0;
  width: 100%; /* Fill the full width of the fuel gauge */
  position: absolute;
  bottom: 0; /* Start filling from the bottom */
  transition: height 0.3s ease; /* Smooth transition for height changes */
}

.fuel-label {
  text-align: center;
  margin-top: 5px; /* Adjust spacing as needed */
}

.camera-window {
  position: relative;
  width: 100%;
  height: 60%;
  border: 2px solid #f39c12;
  padding: 5px;
}

/*.camera-window {
  position: relative;
  width: 480px; 
  height: 360px; 
  border: 2px solid #f39c12;
  margin: 0 auto;
} 
*/


.camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.command-log {
  background-color: #333;
  border: 1px solid #444;
  padding: 3px;
  width: 100%;
  height: auto;
  border: 2px solid #f39c12;
  border-radius: 10px;
  box-sizing: border-box;
}

.right-column {
  width: 33.33%;
  display: flex;
  flex-direction: column;  
  padding: 5px;
  align-items: center;  
  box-sizing: border-box;


}

.controller-output {
  width: 100%;
  height: 100%;
  background-color: #444;
  border: 2px solid #f39c12;
  border-radius: 5px;
  box-sizing: border-box;
}

.start-message {

  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: .9em;
}

